body {
  background-image: url("assets/bg-mobile.png");
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  /* font-size: 14; */
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.top-header {
  background-color: hsl(228, 56%, 26%);
  border-radius: 1rem 4rem 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  padding: 3rem;
}

.icons {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  gap: 1.5rem;
}

.icons button {
  --icon-size: 3rem;
  background-color: hsl(229, 57%, 11%);
  height: var(--icon-size);
  width: var(--icon-size);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.2;
}

.icons button svg {
  scale: 0.9;
}

.top-storage {
  background-color: hsl(228, 56%, 26%);
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 2rem 1rem 2rem 1rem;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bolder;
  font-style: oblique;
  font-weight: 900;
  /* font-size: large; */
  /* color: red; */
}

/* - Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */

.storage-left {
  background-color: whitesmoke;
  border-radius: 0.5rem;
  width: 10rem;
  height: 4rem;
  transform: translateY(4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.storage-left-num {
  gap: 0;
  font-size: xx-large;
  font-weight: 700;
  color: black;
}

#gb-left-num {
  font-size: xx-large;
  font-weight: 700;
  color: black;
}

#gb-left-final-num {
  font-size: xx-large;
  font-weight: 700;
  color: black;
}

#gb-left-text {
  font-size: 8;
  color: grey;
  font-weight: 400;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
